body {
    margin: 0px;
    background-color: #F5F5F5;
    font-family: Inter;
}

.main-container{
    width: 100vw;
    overflow-x: hidden;
}

.header{
    background-color: #F5F5F5;
    background-position: center;
    background-size: cover;
    width: 100%;
    max-height: 120px;
    height: 100vh;
}

.logo {
    margin: 0px;
    font-size: 2rem;
    font-weight: bold;
    font-family: Inter;
    color: black;
    text-align: center;
    margin-top: 2rem;
    line-height: 120px;
    z-index: 1;
}

/* .page-icons{
    float: right;
    margin-left: -92px;
    margin-right: 140px;
    z-index: 2;
}*/

.content{
    display: flex;
}

.images{
    min-width: 83.125rem;
    flex-wrap: wrap; 
    justify-content: flex-start;
    float: left;
}

.description{
    position: relative;
    float: right;
    margin-left: 110px;
    margin-right: 110px;;
}

.shop-icon{
    width: 41.25rem;
    height: 41.25rem;
    margin: 1px;
}

.name-description{
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

.price{
    font-size: 24px;
    font-weight: 600;
    color: black;
}

.text-description{
    color: #929292;
    font-weight: 400;
    font-size: 20px;
}

.size-container{
    display: grid;
    grid-template-columns: 140px 140px 140px;
    grid-template-rows: 140px 140px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

}

.size-item{
    border: 1px groove #929292;;
    width: 138px;
    height: 138px;
    border-radius: 2rem;
    background-color: #f5f5f5;
    font-size: 24px;
    font-weight: 400;
    color: #929292;
    font-family: Inter;
    text-align: center;
    line-height: 140px;
    padding: 0px;
}

.size-item:hover{
    color: #ffffff;
    background-color: #FF7427;
    transition: 0.5s;
    transform: translateY(-4px);
}

.size-guide{
    font-weight: 400px;
    font-size: 20px;
    text-decoration: underline;
    color: #929292;
}

#add-button{
    width: 460px;
    height: 64px;
    border-radius: 1rem;
    border: hidden;
    background-color: #FF7427;
    color:#F5F5F5;
    font-size: 24px;
    font-weight: 500;
    font-family: Inter;
    text-align: center;
    line-height: 64px;
}

#add-button:hover{
    transition: 0.5s;
    transform: translateY(-4px);
    background-color: #ff8747;
}

.recommendations{
    margin-left: 80px;
    margin-top: 70px;
    width: 83.125rem;
}

.text-recommend{
    color: #FA8F21;
    font-size: 2rem;
    font-weight: bold;
}

.image-recommend{
    display: grid;
    grid-template-columns: 280px 280px 280px 280px;
    grid-column-gap: 14px;
}

.recommend-item{
    border: 2px solid #F5F5F5;
    width: 280px;
}

.recommend-icon{
    width: 280px;
    height: 280px;
}

.recommend-item:hover{
    border-color: #FF7427;
    transform: translateY(-5px);
}

.recommend-name{
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin: 3px;
}

.recommend-price{
    color: black;
    font-weight: 600;
    font-size: 20px;
    text-align: right;
    margin: 3px;
}

.recommend-brand{
    color: #929292;
    font-weight: 500;
    font-size: 20px;
    margin: 3px;
}

.footer-text{
    color: #E6631A;
    font-size: 144px;
    font-weight: bold;
    margin: 80px;
}

.container-footer {
    height: 24.1875rem;
    width:34.3125rem ;
    background-color: f5f5f5;
    box-shadow: 0rem 0rem 2rem 0.5rem rgba(0, 0, 0, 0.05);
    border-radius: 2.5rem;
    display: flex;
    flex-direction: column;
    margin: 6.25rem auto 6.25rem 8.75rem;
}

.info-catalog {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.4);
    margin: auto;
    margin-bottom: 1.875rem;
}

.svgs{
    margin: 1.875rem auto auto 3.75rem;
    width: 8.25rem;
    display: flex;
    justify-content: space-between;
}
