body {
    margin: 0px;
    background-color: #F5F5F5;
    font-family: Inter;
}

::-webkit-scrollbar{
    width: 0;
}

#scroll-path{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}

#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%, 100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}

#progressbar before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}

#progressbar after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}

.main-container{
    width: 100vw;
    overflow-x: hidden;
}

.header{
    background-image:url(images/Yeezy_Boost_V2_350_Triple_White/Group_1.png);
    background-position: center;
    background-size: cover;
}

.first {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(Кроссовки/Yeezy_Boost_V2_350_Triple_White/Group_1.png);
    background-size: cover;
    background-position: center;
}

.menu {
    width: 100vw;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin: 0px;
    font-size: 2rem;
    font-weight: bold;
    font-family: Inter;
    color: #F5F5F5;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #F5F5F5;
}

h1 {
    font-size: 9rem;
    font-family: Inter;
    font-weight: bold;
    margin: 0px;
}

.content h5 {
    font-size: 2rem;
    font-family: Inter;
    font-weight: 500;
    margin: 0px;
    margin-bottom: 2rem;
}

.content button {
    color: #F5F5F5;
    background-color: #E6631A;
    font-size: 2rem;
    font-family: Inter;
    font-weight: bold;
    padding: 1.5rem 7rem;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.25);
}

.scroll-info {
    width: 100%;
    position: absolute;
    top: 85%;
    text-align: center;
    color: #F5F5F5;
}

.scroll-info h6 {
    font-size: 1.2rem;
    font-family: Inter;
    font-weight: 500;
    margin: 0px;
    margin-bottom: 1rem;
}

.scroll-info img {
    transform: scale(0.8);
}



/*CATALOGS*/

.head-catalog{
    color: #E6631A;
    margin: 6.25rem 8.75rem;
}

.catalogs{
    width: 100vw;
}

.catalog-item{
    height: 40.5rem;
    border-radius: 2.5rem;
    position: relative;
    margin:6.25rem 8.75rem;
    background-color: #00000009;
}

.catalog-description{
    border-radius: 2.5rem;
    position: absolute;
    top: 0;
    right: 0;
    width: 44.625rem;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h2 {
    font-family: inherit;
    font-size: 2.8rem;
    font-weight:700;
    color: rgba(0, 0, 0, 0.5);
    margin: 0rem;
    margin-left: 4.625rem;
    margin-right: 4.625rem;
}

#stanSmithColor {
    color: #B82637;
}

#yeBoostColor {
    color: #82B3FF;
}

#blazerLowColor {
    color: #E57240;
}

.catalog-description2, .catalog-description4{
    border-radius: 2.5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 44.625rem;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.catalog-text{
    font-size: 2rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-family: inherit;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;   
    margin: 2.25rem 4.625rem 0rem 4.625rem;
    color:rgba(0, 0, 0, 0.4);
}

.span1{
    
    margin: auto;
    margin-right: 2.25rem;
    width: 10.5625rem;
    height: 5.25rem;
    border-radius: 2.5rem;
    color: #8B1223;
    font-size:2rem;
    border: none;
    font-weight: 600;
}

.span2{
    color: #f5f5f5;
    margin: auto;
    margin-left: 2.25rem;
    font-size: 5.25rem;
    font-family: inherit;
    font-weight: bold;
}
.move{
    width: 50.625rem;
    height: 12.5rem;
    background: #64646457;
    border-radius: 2.5rem;
    backdrop-filter: blur(30px);
    display: flex;
    margin: 24.375rem 3.625rem 3.625rem 3.625rem;

}

.image-item{
    border-radius: 2.5rem;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 57.875rem;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(images/Jordan_1_Red/Frame3.png);
}

.image-item2{
    border-radius: 2.5rem;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 57.875rem;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(images/Stan_Smith/Frame4.png);
}

.image-item3{
    border-radius: 2.5rem;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 57.875rem;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(images/Yeezy_Boost_V2_350_Triple_White/Group_1.png);
}

.image-item4{
    border-radius: 2.5rem;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 57.875rem;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(images/Blazer_Low_classic/IMG_8192\ 1.png);
}



/* THIRD CONTAINER DESIGN */

.third-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 64.8125rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/Blazer_High_c/Frame5.png);
    background-size: cover;
    background-position: center;
}

.sub-third-container{
    width: 50.625rem;
    height: 47.3125rem;
    margin-left: 8.75rem;
    background: #64646457;
    border-radius: 2.5rem;
    backdrop-filter: blur(30px);
}

#blazerHighColor1 {
    color: #FF7427;
    margin: 4.5rem auto 1.5rem 4.5rem;
}

.third-container-p{
    width: 41.625rem;
    margin: 1.5rem auto auto auto;
    font-size: 2rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-family: Inter;
    font-weight: 400;
    color: #f5f5f5;
}

.third-container-more{
    background-color: #788AA9;
    width: 17.5625rem;
    height: 5.25rem;
    border-radius: 2.5rem;
    color: #f5f5f5;
    font-size:2rem;
    border: none;
    font-weight: 600;
    font-family: inherit;
    margin: 5.6875rem auto 4.5rem 4.5rem;
    padding: 0px;
}



/* FOOTER */

.container-footer {
    height: 24.1875rem;
    width:34.3125rem ;
    background-color: f5f5f5;
    box-shadow: 0rem 0rem 2rem 0.5rem rgba(0, 0, 0, 0.05);
    border-radius: 2.5rem;
    display: flex;
    flex-direction: column;
    margin: 6.25rem auto 6.25rem 8.75rem;
}

.info-catalog {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.4);
    margin: auto;
    margin-bottom: 1.875rem;
}

.svgs{
    margin: 1.875rem auto auto 3.75rem;
    width: 8.25rem;
    display: flex;
    justify-content: space-between;
}

.button {
    transition: transform 0.5s ease, background-color 0.5s, color 0.5s;
}

button:hover{

    color: #ffffff;
    background-color: #FF7427;
    transition: 0.5s;
    transform: translateY(-10px);
    border-color: #c75a1f;

    #yeBoostColor{
        color: #ffffff;
    }
    
    #stanSmithColor{
        color: #ffffff;
    }
    
    #blazerLowColor{
        color: #ffffff;
    }
      
}
