body {
    margin: 0px;
    background-color: #F5F5F5;
    font-family: Inter;
}

::-webkit-scrollbar{
    width: 0;
}

#scroll-path{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}

#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%, 100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}

#progressbar before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}

#progressbar after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}

.main-container{
    width: 100vw;
    overflow-x: hidden;
}

.header{
    background-image:url(images/Yeezy_Boost_V2_350_Triple_White/Group_1.png);
    background-position: center;
    background-size: cover;
}

.first {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(Кроссовки/Yeezy_Boost_V2_350_Triple_White/Group_1.png);
    background-size: cover;
    background-position: center;
}

.menu {
    width: 100vw;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin: 0px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Inter;
    color: #F5F5F5;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #F5F5F5;
}

h1 {
    font-size: 8rem;
    font-family: Inter;
    font-weight: bold;
    margin: 0px;
}

.content h5 {
    font-size: 1.5rem;
    font-family: Inter;
    font-weight: 500;
    margin: 0px;
    margin-bottom: 2rem;
}

.content button {
    color: #F5F5F5;
    background-color: #E6631A;
    font-size: 2rem;
    font-family: Inter;
    font-weight: bold;
    padding: 1.5rem 7rem;
    border-radius: 3.125rem;
    border: none;
    box-shadow: 0px 0px 1.042vw 0.26vw rgba(255, 255, 255, 0.25);
}

.scroll-info {
    width: 100%;
    position: absolute;
    top: 85%;
    text-align: center;
    color: #F5F5F5;
}

.scroll-info img {
    height: 1.979vw;
    width: 1.979vw;
    background-size: cover;
}

.scroll-info h6 {
    font-size: 1.2rem;
    font-family: Inter;
    font-weight: 500;
    margin: 0px;
    margin-bottom: 1.5rem;
}

.scroll-info img {
    transform: scale(0.8);
}



/*CATALOGS*/

.head-catalog{
    color: #E6631A;
    margin: 5.208vw 7.292vw;
}

.catalogs{
    width: 100vw;
}

.catalog-item{
    height: 33.75vw;
    border-radius: 2.083vw;
    position: relative;
    margin:5.208vw 7.292vw;
    background-color: #00000009;
}

.catalog-description{
    border-radius: 2.083vw;
    position: absolute;
    top: 0;
    right: 0;
    width: 37.188vw;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h2 {
    font-family: inherit;
    font-size: 2.333vw;
    font-weight:700;
    color: rgba(0, 0, 0, 0.5);
    margin: 0rem;
    margin-left: 3.854vw;
    margin-right: 3.854vw;
}

#stanSmithColor {
    color: #B82637;
}

#yeBoostColor {
    color: #82B3FF;
}

#blazerLowColor {
    color: #E57240;
}

.catalog-description2, .catalog-description4{
    border-radius: 2.083vw;
    position: absolute;
    top: 0;
    left: 0;
    width: 37.188vw;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.catalog-text{
    font-size: 1.667vw;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-family: inherit;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;   
    margin: 1.875vw 3.854vw 0rem 3.854vw;
    color:rgba(0, 0, 0, 0.4);
}

.span1{
    margin: auto;
    margin-right: 1.875vw;
    width: 8.802vw;
    height: 4.375vw;
    border-radius: 2.083vw;
    color: #8B1223;
    font-size:1.667vw;
    border: none;
    font-weight: 600;
}

.span2{
    color: #f5f5f5;
    margin: auto;
    margin-left: 1.875vw;
    font-size: 4.375vw;
    font-family: inherit;
    font-weight: bold;
}

.move{
    width: 42.188vw;
    height: 10.417vw;
    background: #64646457;
    border-radius: 2.083vw;
    backdrop-filter: blur(30px);
    display: flex;
    margin: 20.313vw 3.021vw 3.021vw 3.021vw;

}

.image-item{
    border-radius: 2.083vw;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 48.229vw;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(images/Jordan_1_Red/Frame3.png);
}

.image-item2{
    border-radius: 2.083vw;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 48.229vw;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(images/Stan_Smith/Frame4.png);
}

.image-item3{
    border-radius: 2.083vw;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 48.229vw;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(images/Yeezy_Boost_V2_350_Triple_White/Group_1.png);
}

.image-item4{
    border-radius: 2.083vw;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 48.229vw;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(images/Blazer_Low_classic/IMG_8192\ 1.png);
}



/* THIRD CONTAINER DESIGN */

.third-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 54.01vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/Blazer_High_c/Frame5.png);
    background-size: cover;
    background-position: center;
}

.sub-third-container{
    width: 42.188vw;
    height: 39.427vw;
    margin-left: 7.292vw;
    background: #64646457;
    border-radius: 2.083vw;
    backdrop-filter: blur(30px);
}

#blazerHighColor1 {
    color: #FF7427;
    margin: 3.75vw auto 1.25vw 3.75vw;
}

.third-container-p{
    width: 34.688vw;
    margin: 1.25vw auto auto auto;
    font-size: 1.667vw;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-family: Inter;
    font-weight: 400;
    color: #f5f5f5;
}

.third-container-more{
    background-color: #788AA9;
    width: 14.635vw;
    height: 4.375vw;
    border-radius: 2.083vw;
    color: #f5f5f5;
    font-size:1.667vw;
    border: none;
    font-weight: 600;
    font-family: inherit;
    margin: 4.74vw auto 3.75vw 3.75vw;
    padding: 0px;
}



/* FOOTER */

.container-footer {
    height: 20.156vw;
    width: 28.594vw;
    background-color: f5f5f5;
    box-shadow: 0rem 0rem 1.667vw 0.417vw rgba(0, 0, 0, 0.05);
    border-radius: 2.083vw;
    display: flex;
    flex-direction: column;
    margin: 5.208vw auto 5.208vw 7.292vw;
}

.info-catalog {
    font-size: 1.25vw;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.4);
    margin: auto;
    margin-bottom: 1.563vw;
}

.svgs{
    margin: 1.563vw auto auto 3.125vw;
    width: 6.875vw;
    display: flex;
    justify-content: space-between;
}

.svgs img {
    height: 2.5vw;
    width: 2.5vw;
    background-size: cover;
}

.button {
    transition: transform 0.5s ease, background-color 0.5s, color 0.5s;
}

button:hover{

    color: #ffffff;
    background-color: #FF7427;
    transition: 0.5s;
    transform: translateY(-10px);
    border-color: #c75a1f;

    #yeBoostColor{
        color: #ffffff;
    }
    
    #stanSmithColor{
        color: #ffffff;
    }
    
    #blazerLowColor{
        color: #ffffff;
    }
      
}


/* MEDIA */


/*tablets*/
@media screen and (max-width: 1024px){
    h1 {
        font-size: 14.375vw;
        font-family: Inter;
        font-weight: bold;
        margin: 0px;
    }

    .content h5 {
        font-size: 3.5vw;
        font-family: Inter;
        font-weight: 500;
        margin: 0px;
        margin-bottom: 4vw;
    }

    .content button {
        color: #F5F5F5;
        background-color: #E6631A;
        font-size: 4vw;
        font-family: Inter;
        font-weight: bold;
        padding: 3vw 12vw;
        border-radius: 3.125rem;
        border: none;
        box-shadow: 0px 0px 1.042vw 0.26vw rgba(255, 255, 255, 0.25);
    }

    .catalogs {
        display: flex;
        justify-content: space-between;
        width: 88.281vw;
        margin: 5.859vw auto;
    }

    .head-catalog{
        color: #E6631A;
        margin: 5.859vw;
    }
    
    /*CATALOG ITEMS*/

    .catalog-item {
        width: 41.699vw;
        height: 50.461vw;
        margin: 0;
    }

    .catalog-description{
        bottom: 0;
        top: auto;
        right: 0;
        width: 100%;
        height: 22.727vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .catalog-description2, .catalog-description4{
        height: 22.727vw;
        bottom: 0;
        top: auto;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .image-item{
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 27.723vw;
        background-size: cover;
        background-position: center;
        background-image: url(images/Jordan_1_Red/Frame3.png);
    }

    .image-item2{
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 27.723vw;
        background-size: cover;
        background-position: center;
        background-image: url(images/Stan_Smith/Frame4.png);
    }

    .image-item3{
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 27.723vw;
        background-size: cover;
        background-position: center;
        background-image: url(images/Yeezy_Boost_V2_350_Triple_White/Group_1.png);
    }
    
    .image-item4{
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 27.723vw;
        background-size: cover;
        background-position: center;
        background-image: url(images/Blazer_Low_classic/IMG_8192\ 1.png);
    }

    .move{
        width: 88%;
        height: 9.241vw;
        background: #64646457;
        border-radius: 2.083vw;
        backdrop-filter: blur(30px);
        display: flex;
        margin: 16.113vw auto 3.021vw auto;
    
    }

    .span1{
        margin: auto;
        margin-right: 2.344vw;
        width: 8.789vw;
        height: 4.62vw;
        border-radius: 2.083vw;
        color: #8B1223;
        font-size:2vw;
        border: none;
        font-weight: 600;
    }

    .span2{
        color: #f5f5f5;
        margin: auto;
        margin-left: 2.344vw;
        font-size: 3.696vw;
        font-family: inherit;
        font-weight: bold;
    }

    .catalog-text{
        font-size: 1.7vw;
        word-wrap: break-word;
        overflow-wrap: break-word;
        font-family: inherit;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;   
        margin: 1.386vw 1.855vw auto 1.855vw;
        color:rgba(0, 0, 0, 0.4);
        text-align: center;
    }

    h2 {
        font-family: inherit;
        font-size: 2.344vw;
        font-weight:700;
        color: rgba(0, 0, 0, 0.5);
        margin-top: auto;
        margin-left: 1.855vw;
        margin-right: 1.855vw;
        text-align: center;
    }

    /*TILL HERE WAS CATALOG ITEMS*/

    /*THIRD CONTAINER DESIGN*/

    .sub-third-container{
        width: 42.188vw;
        height: 39.427vw;
        margin-left: 5.859vw;
        background: #64646457;
        border-radius: 2.083vw;
        backdrop-filter: blur(30px);
    }
}

/*tablets*/
@media screen and (max-width: 600px){
    .content h5 {
        font-size: 4.5vw;
        font-family: Inter;
        font-weight: 500;
        margin: 0px;
        margin-bottom: 4vw;
    }

    .content button {
        color: #F5F5F5;
        background-color: #E6631A;
        font-size: 4vw;
        font-family: Inter;
        font-weight: bold;
        padding: 4vw 18vw;
        border-radius: 5.089vw;
        border: none;
        box-shadow: 0px 0px 1.042vw 0.26vw rgba(255, 255, 255, 0.25);
    }

    .catalogs {
        display: flex;
        width: 88.281vw;
        height: 224.776vw;
        margin: 5.859vw auto;
        flex-direction: column;
        justify-content: space-between;
    }

    .head-catalog{
        color: #E6631A;
        margin: 5.859vw;
        font-size: 12.214vw;
    }
    
    /*CATALOG ITEMS*/

    .catalog-item {
        border-radius: 5.089vw;
        width: 88.281vw;
        height: 106.308vw;
        margin: 0;
    }

    .catalog-description{
        bottom: 0;
        top: auto;
        right: 0;
        width: 100%;
        height: 45.239vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .catalog-description2, .catalog-description4{
        height: 45.239vw;
        bottom: 0;
        top: auto;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .image-item{
        border-radius: 5.089vw;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 61.069vw;
        background-size: cover;
        background-position: center;
        background-image: url(images/Jordan_1_Red/Frame3.png);
    }

    .image-item2{
        border-radius: 5.089vw;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 61.069vw;
        background-size: cover;
        background-position: center;
        background-image: url(images/Stan_Smith/Frame4.png);
    }

    .image-item3{
        border-radius: 5.089vw;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 61.069vw;
        background-size: cover;
        background-position: center;
        background-image: url(images/Yeezy_Boost_V2_350_Triple_White/Group_1.png);
    }
    
    .image-item4{
        border-radius: 5.089vw;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 61.069vw;
        background-size: cover;
        background-position: center;
        background-image: url(images/Blazer_Low_classic/IMG_8192\ 1.png);
    }

    .move{
        width: 88%;
        height: 20.356vw;
        background: #64646457;
        border-radius: 5.089vw;
        backdrop-filter: blur(30px);
        display: flex;
        margin: 35vw auto 3.021vw auto;
    
    }

    .span1{
        margin: auto;
        margin-right: 5.089vw;
        width: 19.338vw;
        height: 10.178vw;
        border-radius: 5.089vw;
        color: #8B1223;
        font-size: 4.071vw;
        border: none;
        font-weight: 600;
    }

    .span2{
        color: #f5f5f5;
        margin: auto;
        margin-left: 5.089vw;
        font-size: 7.5vw;
        font-family: inherit;
        font-weight: bold;
    }

    .catalog-text{
        font-size: 3.5vw;
        word-wrap: break-word;
        overflow-wrap: break-word;
        font-family: inherit;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;   
        margin: 2.036vw 1.855vw auto 1.855vw;
        color:rgba(0, 0, 0, 0.4);
        text-align: center;
    }

    h2 {
        font-family: inherit;
        font-size: 5.089vw;
        font-weight:700;
        color: rgba(0, 0, 0, 0.5);
        margin-top: auto;
        margin-left: 1.855vw;
        margin-right: 1.855vw;
        text-align: center;
    }

    /*TILL HERE WAS CATALOG ITEMS*/

    /*THIRD CONTAINER DESIGN*/

    .third-container{
        width: 100%;
        height: 109.924vw;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/Blazer_High_c/Frame5.png);
        background-size: 160%;
        background-position: center;
        position: relative;
        margin: 11.267vw 0;
    }
    
    .sub-third-container{
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 91.858vw;
        height: 72.265vw;
        background: #64646457;
        border-radius: 5.089vw;
        backdrop-filter: blur(30px);
        display: inline-block;
        justify-content: center;
        align-content: center;
        text-align: center;
        
    }

    #blazerHighColor1 {
        color: #FF7427;
        margin-top: 8.142vw;
    }

    .third-container-p{
        width: 79.644vw;
        margin-top: 3.053vw;
        font-size: 3.053vw;
        word-wrap: break-word;
        overflow-wrap: break-word;
        font-family: Inter;
        font-weight: 400;
        color: #f5f5f5;
    }
    
    .third-container-more{
        background-color: #788AA9;
        color: #f5f5f5;
        margin: 6.107vw auto 6.107vw auto;
        padding: 0px;
        width: 35.338vw;
        height: 10.178vw;
        border-radius: 5.089vw;
        font-size: 4.071vw;
        border: none;
        font-weight: 600;
    }
}